{
	"dev_version" : "10.27.0",
	"min_version" : "10.27.0",
	"systemList" : 
	[
		"EventSystem",
		"TransformSystem",
		"BehaviorSystem",
		"CameraSystem",
		"TweenSystem",
		"ScriptSystem",
		"BuiltinObjectSystem",
		"MeshRendererSystem",
		"RenderSystem"
	],
	"type" : "amazing",
	"version" : "0.1"
}